
/*浅色主题*/
.light-theme{
    --bg:#729aa1a2;
    --text:black;
}
/*深色主题*/
.dark-theme{
    --bg:#2b4360;
    --text:white;
}
/* 页面整体背景颜色 */
body {
    margin: 0;
    padding: 0;
    font-family: Verdana,fantasy;
    background: var(--bg,#729aa1a2);
    color: var(--text);
}
/* 添加全局的颜色过渡 */
* {
    transition: all 0.5s ease-in-out; /* 所有属性的过渡 */
}

/* 主体样式 */
main {
	min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
    margin: 0;     /* 外边距设为0 */
    padding: 0;    /* 内边距设为0 */
    background: var(--bg);
    color: var(--text);

}



.content {

    text-align: center;
    max-width: 700px;
	margin: 0 auto;
}





/* 将开关按钮放到右上角 */
#theme-toggle-button {
    font-size: 17px;
    position: absolute;
    top: 8px;
    right: 0px;
    display: inline-block;
    width: 4em;
    cursor: pointer;

    border: 2px solid transparent; /* 透明边框，用来在按钮边缘添加效果 */
    text-shadow: 0 0 5px rgba(192, 192, 192, 0.8), /* 闪亮的银色发光效果 */
                 0 0 10px rgba(192, 192, 192, 0.6); /* 更大范围的光晕效果 */


    
}

#toggle,#theme-toggle-button{
    position: absolute;
    z-index: 1;

}
#toggle{
    opacity: 0;
}
/*加按钮边界*/
#theme-toggle-button svg rect {
    fill: #83cbd8; /* 默认背景色 */
    stroke: #dcdcdc94; /* 银色描边 */
    stroke-width: 4; /* 边框宽度 */

}

/* 鼠标悬停时，增强描边效果 */
#theme-toggle-button:hover svg rect {
    stroke: #d0d0d0; /* 更亮的银色或白色 */
    stroke-width: 6; /* 增加描边宽度 */
}


/* 隐藏默认HTML复选框 */
#toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

#main, #patches, #stars, #button, #sun, #moon, #cloud {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.25s;
}

/* night sky background */
#toggle:checked + svg #main {
    fill: #2b4360;
}

/* 按钮右移 */
#toggle:checked + svg #button {
    transform: translate(28px, 2.333px);
}

/* 根据开关状态显示隐藏太阳和月亮 */
#sun {
    opacity: 1;
}

#toggle:checked + svg #sun {
    opacity: 0;
}

#moon {
    opacity: 0;
}

#toggle:checked + svg #moon {
    opacity: 1;
}


#cloud {
    opacity: 1;
}

#toggle:checked + svg #cloud {
    opacity: 0;
}

#stars {
    opacity: 0;
}

#toggle:checked + svg #stars {
    opacity: 1;
}



/* 标题样式 */
.title {
    font-size: 4rem; /* 标题大小 */
    font-weight: bold;
    color: var(--text);
    text-shadow: 2px 2px 5px rgba(110, 110, 110, 0.8), /* 银色发光效果 */
                 0px 0px 10px rgba(117, 117, 117, 0.6); /* 较大的光晕效果 */
    margin-bottom: 0; /* 标题与链接之间的间距 */
    text-transform: uppercase; /* 标题大写 */


    
}

/* 鼠标悬停时增强标题的描边效果 */
.title:hover {
    text-shadow: 8px 8px 12px rgb(133, 133, 133), /* 更强的银色发光效果 */
                 0 0 20px rgba(192, 192, 192, 0.8); /* 更强的光晕效果 */
}



/* 按钮链接样式 */
.button-link {
    display: inline-block;
    text-decoration: none;
    background-color: linear-gradient(145deg, #e0e0e0, #b0b0b0); /* 更加明显的金属渐变 */
    color: var(--text);  /* 按钮文字颜色 */
    padding: 10px 10px;  /* 修改内边距来增大按钮大小 */
    width: 80px;  /* 设定统一的宽度 */
    height: 35px;  /* 设定统一的高度 */
    line-height: 35px;  /* 设置与按钮高度相同的行高，确保上下居中 */
    font-size: 0.7rem;  /* 增大字体 */
    border-radius: 11px;  /* 圆角大小，调小数字会让按钮角更加锐利 */
    border: 3px solid #999;  
    text-align: center;
    transition: all 0.5s ease-in-out;
    font-weight: bold;
    text-transform: uppercase;  /* 大写文字 */
    box-shadow: 5px 5px 10px rgba(76, 75, 75, 0.6), 
    -5px -5px 10px rgba(255, 255, 255, 0.6); /* 外部光晕效果 */
}

/* 鼠标悬停时增强按钮效果 */
.button-link:hover {
    background-color: linear-gradient(145deg, #d0d0d0, #a0a0a0); /* 悬停时渐变色稍微变化 */
    border-color: #6b6b6b;  /* 增加边框色 */
    box-shadow: 5px 5px 15px rgba(76, 75, 75, 0.8), 
    -5px -5px 15px rgba(255, 255, 255, 0.8);   /* 更强的光晕效果 */
    transform: scale(1.1);  /* 鼠标悬停时略微放大按钮 */
}

/* 增强链接的文本效果 */
.button-link span {
    display: block;
}
.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* 设定两列布局 */
    gap: 10px;  /* 设置按钮之间的间距为更小的值（可以根据需要调整） */
    margin: 0;  /* 取消默认外边距 */
    margin-top: 50px;  /* 增加 .box 与上方元素之间的距离 */
}

/* 每个按钮容器 */
figure {
    margin: 0;  /* 去掉默认外边距 */
    padding: 10px;  /* 给按钮添加内边距，确保按钮之间的间距相等 */
    box-sizing: border-box;  /* 包含内边距和边框的总宽度计算在内 */
}

/* 描述文字的样式 */
.subtitle {
    font-size: 1.2rem;  /* 设置字体大小 */
    color: #666666b8;  /* 设置字体颜色 */
    /*font-style: italic;   设置为斜体 */
    margin-top: 0;  /* 确保描述文字和标题之间没有额外的间距 */
}

